# Created by venv; see https://docs.python.org/3/library/venv.html
.DS_Store
.env
.secrets/
.openclaw/
docker-compose.yml
docker/
app/.venv/
app/data/*
data/*
model/*
logs/
prompt.txt
**/__pycache__/
*.pyc
