# Created by venv; see https://docs.python.org/3/library/venv.html
.DS_Store
.env
.secrets/
docker-compose.yml
docker/
app/.venv/
app/data/rec_chunk/*
app/data/llm_chunk/*
app/data/prop_chunk/*
app/data/raptor_chunk/*
app/data/eval/*
app/data/index/*
app/data/raw/*
app/model/*
prompt.txt
**/__pycache__/
*.pyc