# Created by venv; see https://docs.python.org/3/library/venv.html
.DS_Store
.env
.secrets/
docker-compose.yml
docker/
app/.venv/
app/data/chunk/*
app/data/eval/*
app/data/index/*
app/data/raw/*
app/model/*
**/__pycache__/
*.pyc